*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:borde-box;
	-moz-box-sizing:borde-box;
	box-sizing: border-box;;
}
.social{
	position:fixed;
	top: 105px;
	right: 0;
	z-index: 2000;

}
.social ul{
	list-style: none;
}
.social ul li a{
	display: inline-block;
	color: #fff;
	background: #000;
	text-decoration: none;
}
/*.social ul li .fa-cart-plus{ background: #fff }*/

.social ul li a:hover{
	padding: 10px 30px;
	background: #000;
}
#btnCarrito .btn{
	width: 142px;
	background: #F6A72A;
	color: black;
}
.badge{
	color: red;
	background: blue;
	background-color: white;
}
